<div class="row">
	<div class="col-xs-12">
		Número total de Quizzes: <%= stats.quizzesQuantity %><br/><br/>
		Número total de Comentarios: <%= stats.commentsQuantity %><br/><br/>
		Media de comentarios por pregunta: <%= stats.promedio %><br/><br/>
		Número total de Quizzes Sin Comentarios: <%= stats.quizzesSinComentario %><br/><br/>
		Número total de Quizzes Con Comentarios: <%= stats.quizzesConComentario %><br/><br/>
	</div>
</div>



